
html {
    margin: 0px;
}

body.home {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/home3.jpg");
    margin: 0px;
}

body.games {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/games3.jpg");
    margin: 0px;
}

body.art {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/art3.jpg");
    margin: 0px;
}

body.music {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/audio3.jpg");
    margin: 0px;
}

body.design {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/design3.jpg");
    margin: 0px;
}

body.stream {
    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    background-image: url("../images/background-test/stream3.jpg");
    margin: 0px;
}

footer.home {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #372A1C;
    background: #E0D9D1;
    width: 100%;
}

footer.games {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #7a4634;
    background: #fcd6cc;
    width: 100%;
}

footer.art {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #5a4012;
    background: #fcf2cc;
    width: 100%;
}

footer.music {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #5a4012;
    background: #fccccf;
    width: 100%;
}

footer.design {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #682c40;
    background: #f0c2ca;
    width: 100%;
}

footer.stream {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    bottom: 0px;
    color: #4f0949;
    background: #f7bcec;
    width: 100%;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    Padding: 10px;
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5a4012;
}

h2 {
    padding: 10px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    background color: #fce6cc;
    color: #ffa83e;
    text-align: center;
    }

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 155px 20px 155px 20px;
    background-color: #5a4012;
    color: #fce6cc;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%; }
.c3-1-home, .c3-2-home, .c3-3-home, .c3-4-home, .c3-5-home {
        width: 50%;
}

header {
    font-size: 24px;
    text-align: center;
    width: 100%;
    background: #ffa83e;
    color: #fce6cc;
    padding: 8px;
}

@media (min-width: 600px) {
    header {
    font-size: 24px;
    text-align: right;
    width: 100%;
    background: #ffa83e;
    color: #fce6cc;
    padding: 10px, 0px, 30px, 10px;
    }
    .c1, .c2, .c5 {
        width: 100%
    }
    .c3, .c4{
        width: 50%;
    }
    .c3-1-home, .c3-2-home, .c3-3-home, .c3-4-home, .c3-5-home {
        width: 50%;
    }
     .c4-home {
        text-align: center;
    }
}

@media (min-width: 800px) {
    
    header {
    font-size: 36px;
    text-align: right;
    width: 100%;
    background: #ffa83e;
    color: #fce6cc;
    padding: 30px 0px 8px 0px;
    }
    .c1, .c2, .c5 {
        width: 100%;
    }
    .c3 {
        width: 400px;
        padding: 50px;
    }
    .c3, .c4{
        Width: 350px
    }
    .c3-1-home, .c3-2-home, .c3-3-home, .c3-4-home, .c3-5-home {
        width: 300px;
    }
    .c4-home {
        text-align: center;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
    

/* new photo colors: #fcf2cc text, #573f16 dark, #ffc13e lighter, #ffe3ab lightest
new design colors: #f0c2ca text, #661b2f dark, #dc366e lighter, #d993ab lightest
new streaming colors: #f7bcec text, #4d1346 dark, #bb549e lighter, #b87da7 lightest
new game dev colors: #fcd6cc text, #7a4634 dark, #ff7c3e lighter, #ffc6ad lightest
new audio colors: #fccccf text, #7a3934 dark, #ff4640 lighter, #ffadad lightest
new home colors: #E0D9D1 text, #372A1C dark, #9E9184 lighter, #d4b8a5 lightest
*/

/* DARKEST: hue, 57, 47... MIDDLE: hue, 74, 100... LIGHTEST: hue, 32, 100... DARK GRAY: Hue, 28, 59... LIGHT GRAY: Hue, 12, 78

Audio hue: 4
Games hue: 15
Home hue: 31
Photo hue: 37
Stream hue: 308
Design hue: 344

AUDIO
Darkest: 4, 57, 42 #6b322e
Dark gray: 4, 28, 28 #473533
Middle: 4, 74, 71 #b3372e
Middle gray: 4, 28, 53 #876461
Light gray: 4, 28, 78 #c7938f
Lightest: 4, 32, 100 #ffb3ad
Light white: 4, 12, 100 #ffe2e0

GAMES
Darkest: 15, 57, 42 #6b3d2e
Dark gray: 15, 28, 28 #453732
Middle: 15, 74, 71 #b3522e
Middle gray: 15, 28, 53 #876b61
Light gray: 15, 28, 78 #c79d8f
Lightest: 15, 32, 100 #ffc2ad
Light white: 15, 12, 100 #ffe8e0


PHOTO
Darkest: 37, 57, 42 #6b542e
Dark gray: 37, 28, 28 #453d32
Middle: 37, 74, 71 #b5822f
Middle gray: 37, 28, 53 #877961
Light gray: 37, 28, 78 #c7b28f
Lightest: 37, 32, 100 #ffe0ad
Light White: 37, 12, 100 #fff3e0

HOME
Darkest: 189, 29, 42 #4a6469
Dark gray: 189, 12, 28 #3f4647
Middle: 189, 37, 71 #72abb5
Middle gray: 189, 12, 53 #768385
Light gray: 189, 12, 78 #afc3c7
Lightest: 189, 16, 100 #d6f9ff
Light White: 189, 06, 100 #f0fdff

STREAM
Darkest: 308, 57, 42 #692d61
Dark gray: 308, 28, 28 #473345
Middle: 308, 74, 71 #b52fa3
Middle gray: 308, 28, 53 #876182
Light gray: 308, 28, 78 #c78fbf
Lightest: 308, 32, 100 #ffadf4
Light white: 308, 12, 100 #ffe0fb

DESIGN
Darkest: 344, 57, 42 #6b2e3e
Dark gray: 344, 28, 28 #473339
Middle: 344, 74, 71 #b52f53
Middle gray: 37, 28, 53 #87616b
Light gray: 344, 28, 78 #c78f9e
Lightest: 344, 32, 100 #ffadc3
Light white: 344, 12, 100 #ffe0e9

texture is from: https://upload.wikimedia.org/wikipedia/commons/8/84/Parchment.00.jpg */