@font-face {
    font-family: Ailerons;
    src: url(font/ailerons/ailerons-typeface.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-light.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Kano;
    src: url(font/kano_regular/kano.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-regular.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-bold.otf);
    font-weight: bold;
}

/*End of getting fonts in there


GAMES
Dark gray: 15, 28, 28 #453732; rgb(69, 55, 50)
Darkest: 15, 57, 42 #6b3d2e; rgb(105, 59, 45)
Middle gray: 15, 28, 53 #876b61; rgb(133, 105, 95)
Middle: 15, 74, 71 #b3522e; rgb(179, 82, 46)
Light gray: 15, 28, 78 #c79d8f; rgb(199, 157, 143)
Lightest: 15, 32, 100 #ffc2ad; rgb(255, 194, 173)
Light white: 15, 12, 100 #ffe8e0; rgb(255, 232, 224)



*/

html {
    margin: 0px;
}
body {
    background-color: #f0fdff;
}

@media (min-width: 800px) {
    header {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: rgba(105, 59, 45, .8);
        color: #ffc2ad;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: rgba(105, 59, 45, .8);
        color: #ffc2ad;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
    }
    div.container {
        display: -webkit-flex;
        display: flex;
        -webkid-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    div.c1, div.c2, div.c3, div.c4, div.c5, div.c6 {
        width: auto;
        height: auto;
        padding: 20px;
    }
}
@media (max-width: 799px) {
         
    header {
        position: relative;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(105, 59, 45);
        color: #ffc2ad;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: relative;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(105, 59, 45);
        color: #ffc2ad;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
div.c1, div.c2, div.c3, div.c4, div.c5, div.c6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
    }
}
