@font-face {
    font-family: Ailerons;
    src: url(font/ailerons/ailerons-typeface.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-light.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Kano;
    src: url(font/kano_regular/kano.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-regular.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-bold.otf);
    font-weight: bold;
}

/*End of getting fonts in there


DESIGN
Dark gray: 344, 28, 28 #473339; rgb(69, 50, 55)
Darker: 344, 57, 42 #6b2e3e; rgb(105, 45, 60)
Middle gray: 37, 28, 53 #87616b; rgb(133, 95, 105)
Middle: 344, 74, 71 #b52f53; rgb(179, 46, 82)
Light gray: 344, 28, 78 #c78f9e; rgb(199, 143, 158)
Lightest: 344, 32, 100 #ffadc3; rgb(255, 173, 195)
Light white: 344, 12, 100 #ffe0e9 rgb(255, 224, 233)


*/

html {
    margin: 0px;
}
a.banner:link {
    color: #ffadc3;
    text-decoration: none;
}
a.banner:visited {
    color: #ffadc3;
    text-decoration: none;
}
a.banner:hover {
    color: #ffe0e9;
    text-decoration: none;
}
@media (min-width: 800px) {
    body {
    background-color: #f0fdff;
    margin: 0px;
}
    header {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: rgba(105, 45, 60, .8);
        color: #ffadc3;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background-color: rgba(105, 45, 60, .8);
        color: #ffadc3;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
    }
   ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        width: 100px;
        margin-top: 87px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 16px;
        text-decoration: none;
    }
    li a:link {
        color: #b52f53;
    }
    li a:visited {
        color: #b52f53;
    }
    li a:hover {
        color: #87616b;
    }
    div.container {
        margin-top: 10%;
        display: -webkit-flex;
        display: flex;
        -webkid-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    div.container div.c1 {
        width: auto;
        height: auto;
        padding: 20px 45px 20px 45px;
    }
    div.container-content div.c1{
        display: inline-block;
        text-align: center;
        width: 100%;
        top: 25px;
        position: relative;
        align-content: center;
        font-family: "Ailerons", sans-serif;
        font-size: 48;
        color: rgb(105, 45, 60);
    }
    div.container-content div.c2 {
        display: block;
        position: relative;
        top: 25px;
        align-content:center;
        text-align: center;
    }
    div.container-content div.c3 {
        display: block;
        width: 60%;
        position: relative;
        margin-top: 25px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 20px;
        color: rgb(105, 45, 60);
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 799px) {
    body {
    background-color: #ffe0e9;
    margin: 0px;
}
    header {
        position: relative;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(105, 45, 60);
        color: #ffadc3;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: relative;
        display: block;
        bottom: 0px;
        width: 100%;
        background-color: rgb(105, 45, 60);
        color: #ffadc3;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
    }
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    li a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        margin-top: 10px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 16px;
        text-decoration: none;
    }
     li a:link {
        color: #b52f53;
    }
    li a:visited {
        color: #b52f53;
    }
    li a:hover {
        color: #87616b;
    }
   div.c1 {
        display: block;
        text-align: center;
        padding: 20px 0px 10px 0px;
    }
     div.container-content div.c1{
        display: inline-block;
        text-align: center;
        width: 100%;
        top: 25px;
        position: relative;
        align-content: center;
        font-family: "Ailerons", sans-serif;
        font-size: 48;
        color: rgb(105, 45, 60);
    }
    div.container-content div.c2 {
        display: block;
        position: relative;
        top: 25px;
        align-content:center;
        text-align: center;
    }
    div.container-content div.c3 {
        display: block;
        width: 60%;
        position: relative;
        margin-top: 25px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 20px;
        color: rgb(105, 45, 60);
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}
}
