/* FONT IMPORT */

@font-face {
    font-family: Ailerons;
    src: url(font/ailerons/ailerons-typeface.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-light.otf);
}
@font-face {
    font-family: Coves;
    src: url(font/coves-font/coves-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Kano;
    src: url(font/kano_regular/kano.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-regular.otf);
}
@font-face {
    font-family: Pier Sans;
    src: url(font/piersans-freeforpersonaluse/pier-bold.otf);
    font-weight: bold;
}

/*COLORS

STREAM
Dark gray: 308, 28, 28 #473345; rgb(60, 50, 67)
Darkest: 308, 57, 42 #692d61; rgb(105, 45, 97)
Middle gray: 308, 28, 53 #876182; rgb(133, 95, 128)
Middle: 308, 74, 71 #b52fa3; rgb(179, 46, 159)
Light gray: 308, 28, 78 #c78fbf; rgb(199, 143, 191)
Lightest: 308, 32, 100 #ffadf4; rgb(255, 173, 243)
Light white: 308, 12, 100 #ffe0fb; rgb(255, 224, 251)
*/


/* general set-up */

html {
    margin: 0px;
}
a.banner:link {
    color: #ffadf4;
    text-decoration: none;
}
a.banner:visited {
    color: #ffadf4;
    text-decoration: none;
}
a.banner:hover {
    color: #ffe0fb;
    text-decoration: none;
}

/* media queries */

@media (min-width: 800px) {
    body {
        background-color: #f0fdff;
        margin: 0px;
    }
    .c1 {
        display: inline-block;
        text-align: center;
        width: 100%;
        top: 25px;
        position: relative;
        align-content: center;
        font-family: "Ailerons", sans-serif;
        font-size: 48px;
        color: #692d61;
    }
    .c2 {
        display: block;
        width: 40%;
        position: relative;
        margin-top: 80px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 24px;
        color: #876182;
        margin-left: auto;
        margin-right: auto;
        padding-top: auto;
        padding-bottom: auto;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .c2 a:link {
        text-decoration: none;
        color: #72abb5;
    }
    .c2 a:visited {
        text-decoration: none;
        color: #72abb5;
    }
    .c2 a:hover {
        text-decoration: none;
        color: #b52fa3;
    }
    header {
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: rgba(105, 45, 97, .8);
        color: #ffadf4;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background-color: rgba(105, 45, 97, .8);
        color: #ffadf4;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        width: 100px;
        margin-top: 87px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 16px;
        text-decoration: none;
    }
    li a:link {
        color: #b52fa3;
    }
    li a:visited {
        color: #b52fa3;
    }
    li a:hover {
        color: #876182;
    }
}
@media (max-width: 799px) {
    body {
        background-color: #ffe0fb;
        margin: 0px;
    }
    header {
        position: relative;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(105, 45, 97);
        color: #ffadf4;
        font-family: "Ailerons", sans-serif;
        font-size: 64px;
        text-align: center;
    }
    footer {
        position: relative;
        display: block;
        bottom: 0px;
        width: 100%;
        background-color: rgb(105, 45, 97);
        color: #ffadf4;
        font-size: 16px;
        font-family: "Kano", sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    li a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        margin-top: 10px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 16px;
        text-decoration: none;
    }
    .c1 {
        display: inline-block;
        text-align: center;
        width: 100%;
        top: 25px;
        position: relative;
        align-content: center;
        font-family: "Ailerons", sans-serif;
        font-size: 48px;
        color: #692d61;
    }
    .c2 {
        display: block;
        width: 60%;
        position: relative;
        margin-top: 80px;
        text-align: center;
        font-family: "Coves", sans-serif;
        font-size: 24px;
        color: #876182;
        margin-left: auto;
        margin-right: auto;
        padding-top: auto;
        padding-bottom: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .c2 a:link {
        text-decoration: none;
        color: #72abb5;
    }
    .c2 a:visited {
        text-decoration: none;
        color: #72abb5;
    }
    .c2 a:hover {
        text-decoration: none;
        color: #b52fa3;
    }
     li a:link {
        color: #b52fa3;
    }
    li a:visited {
        color: #b52fa3;
    }
    li a:hover {
        color: #876182;
    }
}
